In [3]:
import pandas as pd
import os
dir = os.listdir('../IMDB_data')


ratings = pd.read_csv('./IMDB_data/'+dir[0], sep='\t', encoding = "ISO-8859-1")
# title.ratings.tsv
# tconst	averageRating	numVotes
title_akas = pd.read_csv('./IMDB_data/'+dir[2], sep='\t', encoding = "ISO-8859-1")
# Attribute has str and
# titleId	ordering	title	region	language	types	attributes	isOriginalTitle

['title.ratings.tsv', '.DS_Store', 'title.akas.tsv', 'name.basics.tsv', 'A.txt', 'title.basics.tsv', 'title.crew.tsv']

/Users/cvictor/opt/anaconda3/envs/torch1.5/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

            titleId  ordering                       title region language  \
0         tt0000001         1        ÐÐ°ÑÐ¼ÐµÐ½ÑÑÑÐ°     UA       \N
1         tt0000001         2                  Carmencita     DE       \N
2         tt0000001         3  Carmencita - spanyol tÃ¡nc     HU       \N
3         tt0000001         4        ÎÎ±ÏÎ¼ÎµÎ½ÏÎ¯ÏÎ±     GR       \N
4         tt0000001         5        ÐÐ°ÑÐ¼ÐµÐ½ÑÐ¸ÑÐ°     RU       \N
...             ...       ...                         ...    ...      ...
29185402  tt9916852         5             EpisÃ³dio #3.20     PT       pt
29185403  tt9916852         6              Episodio #3.20     IT       it
29185404  tt9916852         7    à¤à¤ªà¤¿à¤¸à¥à¤¡ #3.20     IN       hi
29185405  tt9916856         1                    The Wind     DE       \N
29185406  tt9916856         2                    The Wind     \N       \N

                types     attributes isOriginalTitle
0         imdbDisplay             \N               0
1                  \N  literal title               0
2         imdbDisplay             \N               0
3         imdbDisplay             \N               0
4         imdbDisplay             \N               0
...               ...            ...             ...
29185402           \N             \N               0
29185403           \N             \N               0
29185404           \N             \N               0
29185405  imdbDisplay             \N               0
29185406     original             \N               1

[29185407 rows x 8 columns]

In [4]:
name_basic  = pd.read_csv('./IMDB_data/'+"name_basic.tsv", sep='\t', encoding = "ISO-8859-1")
# nconst primaryName birthYear deathYear, primaryProfession
print(name_basic)

             nconst         primaryName birthYear deathYear  \
0         nm0000001        Fred Astaire      1899      1987
1         nm0000002       Lauren Bacall      1924      2014
2         nm0000003     Brigitte Bardot      1934        \N
3         nm0000004        John Belushi      1949      1982
4         nm0000005      Ingmar Bergman      1918      2007
...             ...                 ...       ...       ...
11241311  nm9993714   Romeo del Rosario        \N        \N
11241312  nm9993716       Essias Loberg        \N        \N
11241313  nm9993717  Harikrishnan Rajan        \N        \N
11241314  nm9993718         Aayush Nair        \N        \N
11241315  nm9993719          Andre Hill        \N        \N

                            primaryProfession  \
0              soundtrack,actor,miscellaneous
1                          actress,soundtrack
2         actress,soundtrack,music_department
3                     actor,soundtrack,writer
4                       writer,director,actor
...                                       ...
11241311  animation_department,art_department
11241312                                  NaN
11241313                      cinematographer
11241314                      cinematographer
11241315                                  NaN

                                   knownForTitles
0         tt0053137,tt0050419,tt0031983,tt0072308
1         tt0071877,tt0038355,tt0037382,tt0117057
2         tt0057345,tt0056404,tt0054452,tt0049189
3         tt0072562,tt0077975,tt0078723,tt0080455
4         tt0050986,tt0050976,tt0060827,tt0083922
...                                           ...
11241311                     tt2455546,tt11657662
11241312                                       \N
11241313                                tt8736744
11241314                                       \N
11241315                                       \N

[11241316 rows x 6 columns]

In [7]:
title_basic = pd.read_csv('./IMDB_data/'+dir[5], sep='\t', encoding = "ISO-8859-1")
print(title_basic)
#title.basic
# tconst	titleType	primaryTitle	originalTitle	isAdult	startYear	endYear	runtimeMinutes	genres
# Having nan(float type!!!) on originalTitle and  isAdult has str/int type

/Users/cvictor/opt/anaconda3/envs/torch1.5/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

            tconst  titleType               primaryTitle  \
0        tt0000001      short                 Carmencita
1        tt0000002      short     Le clown et ses chiens
2        tt0000003      short             Pauvre Pierrot
3        tt0000004      short                Un bon bock
4        tt0000005      short           Blacksmith Scene
...            ...        ...                        ...
8285157  tt9916848  tvEpisode              Episode #3.17
8285158  tt9916850  tvEpisode              Episode #3.19
8285159  tt9916852  tvEpisode              Episode #3.20
8285160  tt9916856      short                   The Wind
8285161  tt9916880  tvEpisode  Horrid Henry Knows It All

                     originalTitle isAdult startYear endYear runtimeMinutes  \
0                       Carmencita       0      1894      \N              1
1           Le clown et ses chiens       0      1892      \N              5
2                   Pauvre Pierrot       0      1892      \N              4
3                      Un bon bock       0      1892      \N             12
4                 Blacksmith Scene       0      1893      \N              1
...                            ...     ...       ...     ...            ...
8285157              Episode #3.17       0      2010      \N             \N
8285158              Episode #3.19       0      2010      \N             \N
8285159              Episode #3.20       0      2010      \N             \N
8285160                   The Wind       0      2015      \N             27
8285161  Horrid Henry Knows It All       0      2014      \N             10

                           genres
0               Documentary,Short
1                 Animation,Short
2        Animation,Comedy,Romance
3                 Animation,Short
4                    Comedy,Short
...                           ...
8285157       Action,Drama,Family
8285158       Action,Drama,Family
8285159       Action,Drama,Family
8285160                     Short
8285161   Animation,Comedy,Family

[8285162 rows x 9 columns]

In [51]:
count = 0
print(title_basic.iloc[0])
for idx, i in enumerate(title_basic['isAdult']):
    if type(i) != str:
        count +=1
        #title_basic.iloc[idx]['isAdult'] = str(title_basic.iloc[idx]['isAdult'])
print(count)

#print(title_basic['originalTitle'])

tconst                    tt0000001
titleType                     short
primaryTitle             Carmencita
originalTitle            Carmencita
isAdult                           0
startYear                      1894
endYear                          \N
runtimeMinutes                    1
genres            Documentary,Short
Name: 0, dtype: object
0

In [53]:
title_basic.to_csv('./IMDB_data/title_basic.csv')

In [ ]:
for idx, i in enumerate(title_basic['isAdult']):
    if type(i) != str:
        print("HI")

In [8]:
title_crew = pd.read_csv('./IMDB_data/'+dir[6], sep='\t', encoding = "ISO-8859-1")
print(title_crew)

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8285157  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8285158  tt9916850  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
8285159  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8285160  tt9916856           nm10538645                      nm6951431
8285161  tt9916880            nm0996406            nm1482639,nm2586970

[8285162 rows x 3 columns]